.section__companies {
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eee;
  margin-top: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
  transform: skewY(2deg);

  .company-image__container {
  }
  .company-image {
    height: 6rem;

    &__2 {
      height: 10rem;
    }
    &__4 {
      height: 8rem;
    }
  }
}
.section__about {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .about {
    width: 95%;
    height: 80%;
    display: grid;
    grid-template-columns: 15rem repeat(2, 1fr) 15rem;
    grid-template-rows: 1fr;
    align-items: center;
    &__gif-container {
      grid-row: 1/-1;
      grid-column: 2/3;
    }
    &__gif-image {
      width: 80%;
      transform: scaleX(-1);
    }
    &__description {
      height: 65%;
      grid-row: 1/-1;
      grid-column: 3/4;
    }
    &__text {
      color: $color-text;
      font-size: 2rem;
      line-height: 2;
    }
  }
}
.section__plans {
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-dark-1,
    $color-primary-light-2
  );
  height: 95vh;
  transform: skewY(-7deg);
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    transform: skewY(7deg);
  }
  .plan-cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .plan-card {
    width: 25%;
    height: 43rem;
    background-color: rgba($color-white, 0.8);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    border-radius: 0.3rem;

    text-align: center;
    padding: 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr 100px;
    justify-items: center;
    align-items: center;

    &__img {
      width: 70%;
      animation: float 1.5s infinite alternate;
    }
    &__block {
      padding: 0 10px 0 10px;
    }
    &__title {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #555;
      text-transform: uppercase;
    }
    &__description {
      font-size: 1.6rem;
      color: #777;
    }
    &__btn {
      background-color: rgba($color-white, 0.9);
      font-size: 1.5rem;
      color: #555;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
      padding: 1.5rem 4rem;
      border-radius: 100px;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 1rem 1.8rem rgba($color-black, 0.4);
      }

      &:active {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 1.9rem rgba($color-black, 0.3);
      }
    }
  }
}
.section__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 5rem;
  margin: 10rem 0;

  .subscribe__btn {
    padding: 2rem 6rem;
    background-image: linear-gradient(
      to right bottom,
      $color-primary-light-2,
      $color-primary-dark-1
    );
    border-radius: 1.5rem;
    border: none;
    color: $color-white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    transition: all 0.3s;

    &:hover {
      transform: translateY(-1rem);
      box-shadow: 0 2rem 4rem rgba($color-black, 0.3);
    }
    &:active {
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 3rem rgba($color-black, 0.5);
    }
  }
}
.footer {
  background-color: #d0ebff;
  padding: 6rem 6rem;
  display: grid;
  justify-content: space-around;
  align-items: start;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: 1fr 6rem;
  position: relative;

  &__copyright-container {
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
  &__copyright {
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 1.2;
    transition: all 0.3s;
    &:hover {
      color: $color-primary-dark-1;
      cursor: pointer;
    }
  }
  &__contact-name {
    margin-right: 1rem;
  }
  &__logo {
    padding: 2rem;

    width: 5rem;
    height: 5rem;
    background-image: linear-gradient(
      to right bottom,
      $color-primary-light-1,
      $color-primary
    );
    border-radius: 1rem;
    margin: 2rem;
    box-shadow: $box-shadow-1;
    display: flex;
    justify-content: center;
    align-items: center;
    &--image {
      width: 4rem;
      height: 4rem;
    }
  }
  &__company {
    border-right: $dashed-border;
    height: 100%;
    padding-right: 5rem;
  }
  &__contacts {
    border-right: $dashed-border;
    padding-right: 10rem;
    height: 100%;
  }

  &__countries {
    margin: 0 2rem;
  }
}
