$color-primary-light-1: #d3ebff;
$color-primary: #396caa;
$color-primary-dark-1: #0d49a2;
$color-primary-light-2: #5692ce;

$color-accent: #ff6129;
$color-accent-light: #ffc0a9;

$color-blue-shadow: rgb(105, 125, 166);

$color-blue-text: rgb(63, 118, 236);

$color-text: #777;
$color-white: #fff;
$color-black: #000;

$dashed-border: 1px dashed rgba($color-black, 0.1);

$box-shadow-1: 0 0.5rem 1rem rgba($color-black, 0.3);
